<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/404.css">
</head>
<body>
    <div class="wrapper row2">
      <div id="container" class="clear">
         <section id="fof" class="clear">
              <div class="hgroup clear">
                <h1>404</h1>
              </div>
              <p>For Some Reason The Page You Requested Could Not Be Found On Our Server</p>
              <p><a href="/polls/">&laquo; Go Back</a> </p>
        </section>
       </div>
    </div>
</body>