<script
  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body>

<div class="col-lg-7">
  <h1>About</h1>
  <p>We are a starter company from UA that wants to take over the world!</p>
  <h3>Contacts:</h3>
  <p>
    <div><b>Phone: </b> +38 099 123 45 67</div>
    <div><b>Email: </b> mail@mail.mail</div>
  </p>
</div>
<div class="col-md-5">
  <p id="notice"><%= notice %></p>
  <%= render 'reviews/form' %>
</div>



