<script
  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>

<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <h1>Login</h1>
    <div ng-app="">
      <form method="post" action="/login">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group">
          <label>Email:</label>
          <input class="form-control" name="email">
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input class="form-control" name="password" type="password" ng-model="name">
          <h2>{{name}} </h2>
        </div>

        <div class="form-group">
          <button class='btn btn-primary btn-block'>Login</button>
        </div>
      </form>
  </div>
</div>
</div>