{% load i18n %}
<title>BET MAKING</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">



<div class="owner-info-bar">
    <div class="col-md-3 owner-info text-center " align="center"> Hello, {{ client.name }}</div>
    <div class="col-md-4 owner-info text-left " align="center">
         <a href="/{% trans "en" %}/polls/startpage/">{% trans "Back" %}</a>
    </div>
    <div class="col-md-3 owner-info text-center" id="balance-bar" align="center"> {% trans "Balance :" %} {{ client.balance }}</div>
</div>
<div class="jumbotron text-center">
    <h2 class="hello">{% trans "Making bets count" %}</h2>
</div>


<table class="table table-bordered text-center">
    <tr class="bet-table-head">
        <td class="text-center">{% trans "Ride ID" %}</td>
        <td class="text-center">{% trans "HORSES" %}</td>
        <td class="text-center">{% trans "1st CEFF" %}</td>
        <td class="text-center">{% trans "2nd CEFF" %}</td>
        <td class="text-center">{% trans "Bet" %}</td>
    </tr>
    {% if latest_ride_list %}
        {% for ride in latest_ride_list %}

            <tr>
                <td>
                    <a class="ride"> {{ ride.id }} </a>
                </td>
                <td>
                    <a style="padding: 10px">{{ ride.name }}</a>
                </td>
                <td>
                    <label for="usr-f" class="control-label">First horse capacity:</label>
                    <input type="text" class="form-horizontal clearable" id="usr-f">
                </td>
                <td>
                     <label for="usr-s" class="control-label">Second horse capacity:</label>
                    <input type="text" class="form-horizontal clearable" id="usr-s">
                </td>
                <td>
                </td>
                    <td>
                    <button class="btn btn-primary btn-sm bet-btn">{% trans "Set" %}</button>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

</table>
<script src={% static "js/jquery-3.1.1.min.js" %}></script>
<script src={% static "js/bookmaker.js" %}></script>
{#<script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>#}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
