{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>{% trans "Start page" %}</title>
</head>


<body>
    <div class="jumbotron">
        <h1 class="text-center">{% trans "Hello," %} {{ client.username }}!</h1>
    </div>

    <div class="text-center">
        <a href="/polls/betpage/" class="col-md-12">{% trans "To bet page" %}</a>
        <a href="/polls/bookmaker/" class="col-md-12 bookmaker">{% trans "To bookmaker page" %}</a>
        <a href="/polls/logout/" class="col-md-12 bookmaker">{% trans "Logout" %}</a>
    </div>

     <script src={% static "js/jquery-3.1.1.min.js" %}></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>