<div class="col-md-4 col-md-offset-4">
<h1>Editing Product</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', @product, class: "btn btn-md btn-default" %>
<%= link_to 'Back', products_path, class: "btn btn-md btn-default" %>
