<div class="col col-md-4 col-md-offset-4">
  <br>
  <br>
  <br>
  <h1 class="text-center" style="font-family: 'Montserrat', sans-serif">Super Amazing Admin Panel</h1>
  <br>
  <br>
  <br>
  <br>

	<div class="list-group text-center" style="font-family: 'Montserrat', sans-serif; font-weight: bolder">
	  <a href="/orders" class="list-group-item">ORDERS</a>
	  <a href="/users" class="list-group-item">USERS</a>
	  <a href="/categories" class="list-group-item">CATEGORIES</a>
	  <a href="/products" class="list-group-item">PRODUCTS</a>
	  <a href="/posts" class="list-group-item">POSTS</a>
	  <a href="/reviews" class="list-group-item">REVIEWS</a>
	</div>
</div>